.overlay {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.281);
    color: white;
    display: flex;
    justify-content: center;
    flex-direction: column;}


.overlay h1 {
    font-size: 65px;
    letter-spacing: 2px;
    margin: 0 0 5px;
    position: absolute;
    top: 60px;
    left: 50%;
    transform: translate(-50%);
  }

.overlay p {
    margin: 0;
    font-size: 20px;
    position: absolute;
    top: 40px;
    left: 50%;
    transform: translate(-50%);
  }

.background_home1 {
    height: 120vh;
    width: 100vw;
    position: relative;
    background-size: cover;
    background-position: 50% 50%;
    background-image: url('');
}

.background_home2 {
    height: 120vh;
    width: 100vw;
    position: relative;
    background-size: cover;
    background-position: 50% 50%;
    background-image: url('https://i.imgur.com/8rmxIel.jpg');
  }

.background_home3 {
    height: 120vh;
    width: 100vw;
    position: relative;
    background-size: cover;
    background-position: 50% 50%;
    background-image: url('https://i.imgur.com/NEOlmll.jpg');
  }

.background_home4 {
    height: 120vh;
    width: 100vw;
    position: relative;
    background-size: cover;
    background-position: 50% 50%;
    background-image: url('https://i.imgur.com/Srz7voZ.jpg');
  }

.background_home6 {
    height: 120vh;
    width: 100vw;
    position: relative;
    background-size: cover;
    background-position: 50% 50%;
    background-image: url('https://i.imgur.com/5QFbkI1.jpg');
  }


.background_home7 {
    height: 120vh;
    width: 100vw;
    position: relative;
    background-size: cover;
    background-position: 50% 50%;
    background-image: url('https://i.imgur.com/ZdfgHCO.jpg');
  }
